body {
    margin:0;
    padding: 0;
}

#ContentContainer {
    min-width: 700px;
}

#TitleBarContainer{
    background-color: #00264d;
    height: 60px;
}

#TitleBarContainer #UpdoxLogoDiv{
    float: left;
    color: white;
    height: 60px;
}

#UpdoxLogoDiv #logoImage{
    max-height: 100%;
    object-fit: contain;
}

#TitleBarContainer #TitleTextandVersionContainerDiv{
    text-align: center;
    color: white;
    font-size: 300%;
    font-weight: bold;
}

#TitleTextandVersionContainerDiv #TitleVersionDiv{
    margin-left: 5px;
    display: inline-block;
    color: white;
    font-size: 40%;
    font-weight: normal;
}

#ProviderDirectoryAppContainer
{
    background-color: #bfd7ff;
}

#ProviderDirectoryAppContainer
{
    text-align: center;
}

#CreateEditProviderDiv
{
    display: inline-block;
    margin: 10px;
    background-color: #ffffff;
    padding: 5px;
}

#ProviderListDiv
{
    display: inline-block;
    margin: 10px;
    padding: 5px;
    line-height: 2;
}

#ProviderListTitleDiv
{
    background-color: #ffffff;
    max-width: 100px;
    margin: 0px;
    padding: 0px;
}

#ProviderListContentDiv
{
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
    font-size: 20pt;
}